@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
  font-family: 'thalia';
  src: url(starborn/Starborn.ttf) format('truetype');
}

@font-face {
  font-family: 'tyson';
  src: url(vogue/Vogue.ttf) format('truetype');
}

:root {
  --cor-destaque: #1b7030be;
  --cor-gradiente-preto: linear-gradient(113deg, #6aa85a 0%, #1E2021 44.96%, #1E2022 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'tyson', Helvetica, sans-serif;
}

body {
  displa
